#openingHoursModalDiv table, #openingHoursTargetDiv table{
    width: 100%;
    font-size:11px; font-family: verdana, arial, helvetica, sans-serif; /* FIXME: remember to remove! */
}
#openingHoursModalDiv table th, #openingHoursTargetDiv table th{
    color: #fff;
    text-align: left;
    padding: 5px;
    font-weight: normal;
}
#openingHoursModalDiv table th.first, #openingHoursTargetDiv table th.first{
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    width: 50%;
}
#openingHoursModalDiv table th.last, #openingHoursTargetDiv table th.last{
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
#openingHoursModalDiv table td, #openingHoursTargetDiv table td{
    padding: 2px 5px;
}
#openingHoursModalDiv table tr td.timeField, #openingHoursTargetDiv table tr td.timeField{
    text-align: center;
    white-space: nowrap;
}
#openingHoursModalDiv table tr td.rightalign, #openingHoursTargetDiv table tr td.rightalign{
    text-align: right;
}
#openingHoursTargetDiv .floatleft{
    float: left;
}
#openingHoursTargetDiv .floatright{
    float: right;
}
#openingHoursModalDiv table tr.odd td, #openingHoursTargetDiv table tr.odd td{
    background-color: #cccccc;
}
#openingHoursModalDiv table tr.even td, #openingHoursTargetDiv table tr.even td{
    background-color: #eaeaea;
}
#openingHoursModalDiv table tr.standard th, #openingHoursTargetDiv table tr.standard th{
    background-color: rgb(175, 3, 3); /* the red color from the mockup */
}
/* NOTE: Hardcoded color schemes copy pasted from www.kb.dk - this will need maintanance if colorschemes on www.kb.dk changes! */
#openingHoursModalDiv table tr.standard01 th, #openingHoursTargetDiv table tr.standard01 th{
    background-color: #FF7617;
}
#openingHoursModalDiv table tr.standard02 th, #openingHoursTargetDiv table tr.standard02 th{
    background-color: #78BFD2;
}
#openingHoursModalDiv table tr.standard03 th, #openingHoursTargetDiv table tr.standard03 th{
    background-color: #B7B806;
}
/* table corrections when bootstrap is loaded */
#openingHoursModalDiv table, #openingHoursTargetDiv table{
    border-collapse: separate;
    border-spacing: 2px;
}
