#openingHoursTargetDiv table{
    width: 100%;
    font-size:11px; font-family: verdana, arial, helvetica, sans-serif; /* FIXME: remember to remove! */
}
#openingHoursTargetDiv table th{
    background-color: rgb(175, 3, 3);
    color: #fff;
    text-align: left;
    width: 50%;
    padding: 5px;
    font-weight: normal;
}
#openingHoursTargetDiv table td{
    padding: 2px 5px;
}
#openingHoursTargetDiv table tr td.center{
    text-align: center;
}
#openingHoursTargetDiv table tr.odd td{
    background-color: #cccccc;
}
#openingHoursTargetDiv table tr.even td{
    background-color: #eaeaea;
}
